/*
p,li, h1 {
  color : red;
  width: 500px;
  border: 1px solid black;
}
*/

html {
  font-size: 10px; /* px means 'pixels': the base font size is 10 pixels high */
  font-family: 'Arima Madurai', cursive;
}
h1 {
  font-size: 70px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #96ceb4;
}
body {
  width: 900px;
  margin:50px auto;
  background-color: #ffeead;
  padding: 0 50px 50px 50px;
  border: 50px solid #ffcc5c;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #333311;
  text-shadow: 3px 3px 1px #ffffdd;
}
img {
  display: block;
  width: 600px;
  margin: 0 auto;
}
